# Ignorar bases de datos y archivos de inventario
data_s.csv
data_v.csv
*.csv
*.xls
*.xlsx
*.json
*.txt
*.bak
*.db
*.db.bak
*.md.bak
*.moo
__pycache__/
.env
db_backup_*.sqlite3

# Ignorar archivos de configuración de Google Drive
token.json
credentials.json