# Ignorar bases de datos y archivos de inventario
data_s.csv
data_v.csv
*.csv
*.xls
*.xlsx
*.json
*.txt
*.db
*.db.bak
*.md.bak
__pycache__/
.env

# Ignorar archivos de configuración de Google Drive
token.json
credentials.json