<div class="card shadow-lg border-0">
    <div class="card-header bg-dark text-white d-flex justify-content-between">
        <h5 class="mb-0">📋 Ficha del Colaborador: {{ paciente.rut }}</h5>
        <span class="badge bg-primary">{{ paciente.cargo }}</span>
    </div>
     <input type="text" id="rut_input" class="form-control" placeholder="12.345.678-K"> <!--<-- Posicion a verificar -->
    <div class="card-body">
        <form hx-post="{% url 'guardar_ficha' paciente.rut %}" hx-target="#mensaje-guardado">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Nombres</label>
                    <input type="text" name="nombres" class="form-control" value="{{ paciente.nombres }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Sueldo Base (Dikbig View)</label>
                    <input type="text" name="sueldo" class="form-control" value="{{ paciente.sueldo_base }}">
                </div>
            </div>
            <button type="submit" class="btn btn-success w-100">Actualizar Expediente</button>
        </form>
        <div id="mensaje-guardado" class="mt-3"></div>
    </div>
</div>

<script>
document.getElementById('rut_input').addEventListener('input', function(e) {
    let value = e.target.value.replace(/\./g, '').replace('-', '');
    if (value.length > 1) {
        let cuerpo = value.slice(0, -1);
        let dv = value.slice(-1).toUpperCase();
        e.target.value = cuerpo + '-' + dv; // Visual simple
    }
});
</script>